#-------------------------------------------------------------------------------
# Tup Build Script configuration
# This is generic to any build
#-------------------------------------------------------------------------------
# See gittup.org/tup/
#-------------------------------------------------------------------------------
# See also /Tuprules.tup, /bin/Tupfile
#-------------------------------------------------------------------------------


# -----------------------------------------------------------------------------
# Compiler Settings
# -----------------------------------------------------------------------------

# Compilation mode (normal, debug, profile, werror, werrorO2)

CONFIG_CC_MODE=werrorO2
#CONFIG_CC_MODE=debug


# Compiler optimization level. (0, 1, 2, 3, s)
# This is ignored in debug, profile or werror compilation mode.
# Recommended value: 2.

CONFIG_OPTIMISATION=2


# Debug information format (native, gnu)
# Windows targets will always use native.
# Specify 'gnu' for GNU Debugger.

CONFIG_DEBUG_FORMAT=gnu


# Debug level (0, 1, 2, 3)

CONFIG_DEBUG_LEVEL=3


# -----------------------------------------------------------------------------
# Options
# -----------------------------------------------------------------------------

CONFIG_SUPPORT_POSIX_FADVISE=yes


# -----------------------------------------------------------------------------
# 32bit Linux Target
# -----------------------------------------------------------------------------

CONFIG_LINUX32_ENABLED=yes
CONFIG_LINUX32_CC=clang -m32
CONFIG_LINUX32_LD=gcc -m32
CONFIG_LINUX32_AR=ar
CONFIG_LINUX32_SUFFIX=-linux32


# -----------------------------------------------------------------------------
# 64bit Linux Target
# -----------------------------------------------------------------------------

CONFIG_LINUX64_ENABLED=yes
CONFIG_LINUX64_CC=clang -m64
CONFIG_LINUX64_LD=gcc -m64
CONFIG_LINUX64_AR=ar
CONFIG_LINUX64_SUFFIX=-linux64


# -----------------------------------------------------------------------------
# 32bit Windows Target
# -----------------------------------------------------------------------------

# Possibly try i386 instead of i586. Run `ls /usr/bin/*gcc` to find out what
# is available.

CONFIG_WIN32_ENABLED=yes
CONFIG_WIN32_CC=i586-mingw32msvc-gcc -m32
CONFIG_WIN32_LD=i586-mingw32msvc-gcc -m32
CONFIG_WIN32_AR=i586-mingw32msvc-ar
CONFIG_WIN32_RESC=i586-mingw32msvc-windres -v
CONFIG_WIN32_SUFFIX=-win32


# -----------------------------------------------------------------------------
# 64bit Windows Target
# -----------------------------------------------------------------------------

CONFIG_WIN64_ENABLED=yes
CONFIG_WIN64_CC=amd64-mingw32msvc-gcc -m64
CONFIG_WIN64_LD=amd64-mingw32msvc-gcc -m64
CONFIG_WIN64_AR=amd64-mingw32msvc-ar
CONFIG_WIN64_RESC=amd64-mingw32msvc-windres -v
CONFIG_WIN64_SUFFIX=-win64



